/* Patient Name Dropdown */
.dropdown {
    margin-top: 10px;
    text-align: left;
}

.dropdown select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #F4F4F4;
    cursor: pointer;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Dropdown Container */
.dropdown-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.dropdown label {
    font-weight: bold;
}

.dropdown select {
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Alert History */

.alert-history ul {
    list-style-type: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    max-height: 300px;
    overflow-y: auto;
}

/* Main Content Container */
.main-content-container {
    display: flex;
    width: 100%;
}

.alert-table {
    flex: auto;
}

.alert-history {
    width: 200px;
    margin-left: 40px;
}


.alert-table, .alert-history {
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

tr td {
    font-size: 14px;
}

li {
    font-size: 14px;
    padding-top: 10px;
}