/* General Styles */
html, body {
    font-family: Inter, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden; /* Prevent horizontal scrolling */
    overflow-x: hidden;
}

/* main content */
.content {
    flex-grow: 1;
    padding: 20px;
}

h2 {
    margin-top: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation Bar */
nav {
    background-color: #D9D9D9;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo, nav links, and buttons */
}

/* For Logo */
.logo-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Logo Styling */
.logo-container .logo h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    border-right: 1.5px solid black;
    padding: 5px 30px;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.nav-links li {
    margin-left: 30px;
}

/* Nav Link Styling */
.nav-links li a {
    color: #8B8B8B;
    text-decoration: none;
    font-size: 15px;
}

.nav-links li a:hover {
    color: black;
}

/* Profile and Logout Buttons */
.profile-logout-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 40px;
}

.profile-btn, .logout-btn {
    background-color: white;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.profile-btn:hover, .logout-btn:hover {
    background-color: #eee;
    text-decoration: underline;
}

nav ul li.logo {
    margin-right: auto;
}

nav ul li.logo h1 {
    color: black;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

