{% extends "layout.html" %}

{% block title %}Manage Alerts{% endblock %}

{% block content %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manage Alerts!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='alerts-style.css') }}">
    </head>

    <div class="container">
        <h2>Alerts!</h2>

        <div class="dropdown-container">
            <div class="dropdown">
                <label for="patient">Patient:</label>
                <select id="patient" name="patient">
                    {% for patient in patient_names %}
                        <option>{{ patient.patient_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class = "main-content">
            <div class="main-content-container">

                <div class = alert-table>
                    <h3>Recent Alerts</h3>
                    <table>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Type of Alert</th>
                                <th>Acknowledge</th>
                                <th>Notes</th>
                            </tr>
                            {% for a in alerts %}
                                <tr>
                                    <td>{{ a.alert_id }}</td>
                                    <td>{{ a.date }}</td>
                                    <td>{{ a.type }}</td>
                                    <td>{{ a.acknowledge }}</td>
                                    <td>{{ a.alert_notes }}</td>
                                </tr>
                            {% endfor %}
                        </table>

                </div>

                <div class = alert-history>
                    <h3>Alert History</h3>
                    <ul>
                        {% for a in alerts %}
                            <li>{{ a.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}