{% extends "layout.html" %}

{% block title %}Manage Medications{% endblock %}

{% block content %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manage Medications</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='med-style.css') }}">
    </head>

    <div class="container">
        <h2>Manage Medications</h2>

        <div class="dropdown-container">
            <div class="dropdown">
                <label for="patient">Patient:</label>
                <select id="patient" name="patient">
                    {% for patient in patient_names %}
                        <option>{{ patient.patient_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="main-content">
            <div class="med-table-container">
                <div class="med-heading-container">
                    <h4>Current Rotation</h4>

                    <div class="button-group">
                        <button type="button">Edit</button>
                        <button type="button">Add</button>
                    </div>
                </div>

                <div class="table-section">
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Medication Name</th>
                            <th>Dosage</th>
                            <th>Stock Levels</th>
                            <!--<th>Schedule</th>-->
                            <th>Notes</th>
                        </tr>
                        {% for med in medications %}
                            <tr>
                                <td>{{ med.medication_id }}</td>
                                <td>{{ med.name }}</td>
                                <td>{{ med.dosage }}</td>
                                <td>{{ med.stock_level }}</td>
                                <!-- <td>{{ med.schedule }}</td> -->
                                <td>{{ med.notes }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="med-list">
                <h4>Medication List</h4>
                <ul>
                    {% for med in medications %}
                        <li>{{ med.name }}</li>
                    {% endfor %}
                </ul>
                <button type="button" id="push-changes-btn">Push Changes to Device</button>
            </div>
        </div>
    </div>



{% endblock %}